/*  --------------------------------------- Rounded corner in pages --------------------------------------- */
.browserStack>browser{
    margin: 0px 4px 4px 4px !important; 
    border-radius: 8px !important;
    /* outline: 2px solid color-mix(in srgb, var(--auto-general-color) 50%, transparent) !important; */
    /* outline: 1px solid red !important; */
}
 
findbar{ 
    border-radius: 8px !important; 
    z-index: 2; 
    margin: 0 4px 4px !important; 
}
#tabbrowser-tabpanels {
    background-color: transparent !important;

}
#sidebar-box {
    margin-left:  4px !important;
    margin-bottom: 4px !important;
    border-radius: var(--general-border-radius) !important;
    border-color: transparent;
    background-color: var(--auto-general-color) !important;
}
#browser {
    --sidebar-border-color: transparent !important;
} 

.browserContainer, .browserStack, .browserSidebarContainer, #browser, #appcontent{
    background-color: var(--auto-accent-color) !important;
    /* for debug only */
    /* margin: 50px !important;   */
    /* border-radius: 8px !important; */
}
#navigator-toolbox, #navigator-toolbox-background{
    border-color: var(--auto-accent-color) !important;
    background-color: var(--auto-accent-color) !important;
}
#TabsToolbar {
    margin: 4px 4px 0px 4px !important;
    border-radius: var(--general-border-radius) !important;
    background-color: var(--auto-general-color) !important;
    /* background-color: transparent !important;*/  /* this will make tabs toolbar transparent coment above line too*/
}
/* Nav-bar */
.browser-toolbar:not(.titlebar-color) {
    margin: 4px 4px 0px 4px !important;
    border-radius: var(--general-border-radius) !important;
    background-color: var(--auto-general-color) !important;
    box-shadow: 4px;
}
